<div class="calendar-container">
  <div class="calendar">
    <div class="cal-container calendar">
      <div layout="row" layout-align="space-between center">
        <div flex="15">
          <md-button ng-click="prev()" class="md-icon-button" aria-label="prev">
            <md-icon>&#8249;</md-icon>
          </md-button>
        </div>
        <div flex="70" class="calendar-month">{{monthYearText}}</div>
        <div flex="15">
          <md-button ng-click="next()" class="md-icon-button" aria-label="next">
            <md-icon>&#8250;</md-icon>
          </md-button>
        </div>

      </div>
      <md-divider></md-divider>
      <span>Sun</span>
      <span>Mon</span>
      <span>Tue</span>
      <span>Wed</span>
      <span>Thu</span>
      <span>Fri</span>
      <span>Sat</span>
      <div ng-repeat="(key, value) in monthDays track by $index">
        <span ng-click="dayClicked(value[0])" ng-class="isSameDay(value[0])">
          <md-tooltip ng-if="inReservationList(value[0])"> {{inReservationList(value[0]).tennantName}}</md-tooltip>
          {{value[0].date()}}
        </span>
        <span ng-click="dayClicked(value[1])" ng-class="isSameDay(value[1])">
          <md-tooltip ng-if="inReservationList(value[1])"> {{inReservationList(value[1]).tennantName}}</md-tooltip>

          {{value[1].date()}}
        </span>
        <span ng-click="dayClicked(value[2])" ng-class="isSameDay(value[2])">
          <md-tooltip ng-if="inReservationList(value[2])"> {{inReservationList(value[2]).tennantName}}</md-tooltip>
          {{value[2].date()}}
        </span>
        <span ng-click="dayClicked(value[3])" ng-class="isSameDay(value[3])">
          <md-tooltip ng-if="inReservationList(value[3])"> {{inReservationList(value[3]).tennantName}}</md-tooltip>
          {{value[3].date()}}
        </span>
        <span ng-click="dayClicked(value[4])" ng-class="isSameDay(value[4])">
          <md-tooltip ng-if="inReservationList(value[4])"> {{inReservationList(value[4]).tennantName}}</md-tooltip>
          {{value[4].date()}}
        </span>
        <span ng-click="dayClicked(value[5])" ng-class="isSameDay(value[5])">
          <md-tooltip ng-if="inReservationList(value[5])"> {{inReservationList(value[5]).tennantName}}</md-tooltip>
          {{value[5].date()}}
        </span>
        <span ng-click="dayClicked(value[6])" ng-class="isSameDay(value[6])">
          <md-tooltip ng-if="inReservationList(value[6])"> {{inReservationList(value[6]).tennantName}}</md-tooltip>
          {{value[6].date()}}
        </span>
      </div>
    </div>
  </div>
</div>
